@page "/"

<div class="context">
    <h1 style="color: #f3f5f7;font-size: 60px">iOS 图书馆</h1>
    <h1 style="color: #f3f5f7;font-size: 30px">联通技术世界的桥梁</h1>
</div>

<style>
    .ant-layout-content {
        background-image: linear-gradient(to bottom right, #ff6b6b, #7171ae, #10bce7) !important;
        height: 100%;
    }
    .context{
        padding: 100px 50px;
        max-width: 100%;
    }
</style>