<!DOCTYPE html>
<html lang="en">

@* ReSharper disable once Html.PathError *@
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="iOSClub.BookSpring.WebApp.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
    <HeadOutlet/>
    <title>西建大iOS图书馆</title>
</head>

<body>
<Routes/>

@* ReSharper disable once Html.PathError *@
<script src="_framework/blazor.web.js"></script>
<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
</body>

</html>